body {
  margin: 0;
  font-family: 'Roboto', sans-serif; 
}

.dashboard {
  display: flex;
  height: 100vh;
}

.side-bar {
  width: 250px;
  background-color: #F4F7F5;
  color: #fff;
  padding: 10px;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}

.side-bar h1 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #08090A;
}

.bot-dropdown {
  user-select: none;
  margin-bottom: 5px;
}

.bot-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #08090A;
  background-color: #F4F7F5;
  padding: 10px;
  border-radius: 5px; 
  border: 1px solid #0000003e;
}

.bot-header:hover {
  background-color: #cbcbcb; 
}

.bot-header .bot-status {
  user-select: none;
  margin-right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #747f8d;
}

.bot-header h3 {
  font-weight: 500;
  margin: 0;
}

.bot-buttons {
  margin: 5px;
  user-select: none;
  list-style-type: none;
  padding: 0;
  overflow-y: auto;
  display: none;
}

.bot-buttons.show {
  display: block;
}

.bot-buttons li {
  user-select: none;
  padding: 10px;
  cursor: pointer;
  background-color: #F4F7F5;
  color: #08090A;
  margin-bottom: 5px;
  transition: background-color 0.3s;
  border-radius: 5px;
  border: 1px solid #0000003e;
}

.bot-buttons li:hover {
  background-color: #cbcbcb;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #F4F7F5;
  height: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .side-bar {
    width: 100%;
    order: 2;
  }

  .main-content {
    order: 1;
  }

  .bot-buttons {
    display: block;
  }
}
